body{
    margin: 2%;
    background-color: rgb(234,240,252);
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/background.gif);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1%;
    border: 5px groove;
    border-color: aqua;
}

.header_menu {
    position: fixed;

    backdrop-filter: blur(10px);
    height: 78px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 80%;
    width: 100%;
    background-color: rgba(240, 248, 255,0.5);
    display: flex;
    justify-content: space-between;
    border-radius: 100px;
    padding: 12px;
    
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.header_menu_left {
    display: flex;
}

.img1 {
    border-radius: 50px;
    height: 100%;
    width: auto;
}

.header_menu_left_text {
    margin-top: 25px;
    margin-left: 10px;
    font-size: 20px ;
    font-weight: bold;
}

.header_menu_center {
    display: flex;
    font-size: 23px;
    margin-top: 25px;
    margin-right: 20px;
}

.header_menu_center_text1 {
    margin-right: 20px;
}

.header_menu_center_text2 {
    margin-right: 20px;
}

.header_menu_reat {
    height: 100%;
}

.header_menu_reat_button {
    height: 100%;
}

.button1 {
    background-color: rgb(14, 206, 203);
    color: aliceblue;
    border-radius: 100px;
    /* height: 100%; */
    padding: 25px;
    font-size: 23px;
    border: none;
}

.header_zagalovoc {
    margin-top: 200px;
}

.text1 {
    display: flex;
    justify-content: center;
    color: rgb(238, 255, 0);
    font-size: 35px;
}

.text2 {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.button {
    display: flex;
    justify-content: center;
}

.button2{
    margin-top: 2%;
    margin-bottom: 3%;
    background-color: #ffffff00;
    color: white;
    padding: 20px;
    font-size: 30px;
    border-width: 2px;
    border-radius: 100px;
    border-style: groove;
    border-color: aliceblue;
}

.block1 {
    background-color: rgb(249,194,46);
    
}

.block1_tex1 {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 400%;
    font-weight: bold;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 6%;
    padding-left: 200px;

}

.block1_text2{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 150%;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 6%;
    padding-left: 40px;
}

.block1_button{
    display: flex;
    justify-content: center;
}

.button_block1 {
    background-color:  aqua;
    color: white;
    padding: 15px;
    font-size: 25px; 
    border-radius: 100px;
    margin-top: 30px;
    margin-bottom: 60px;
    border: none;

}

.block2 {
    background-color: #fff;;
}

.block2_Uptext {
    font-size: 400%;
    font-weight: bold;
    max-width: 500px;
    margin: 0 auto;
   display: flex;
   justify-content: center;
}

.block2_uptext {
    font-size: 250%;
    font-weight: bold;
    max-width: 250px;
    margin-bottom: 10px;
    line-height: 50px;
}

.block2_boxafi {
    display: flex;
    justify-content: space-around;
}

.block2_date {
    font-size: 150%;
    margin-bottom: 15px;
}

.block2_text {
    font-size: 150%;
    max-width: 300px;
    margin-bottom: 10px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.img_block2{
    border-radius: 30px;
    object-fit: cover;
    width: 330px;
    height: 400px;
}

.block2_button{
    background-color:  rgb(83,179,203);
    color: white;
    padding: 15px;
    font-size: 25px; 
    border-radius: 100px;
    margin-top: 30px;
    margin-bottom: 60px;
    border: none;
}
